nav{
    padding: 0;
}
    .navegacion__principal{/**barra de navegacion**/
        background-color: #0177BF; 
        font-size: 1.4rem;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        color: white;
        text-decoration: none;
        padding: .5rem;
        
    }
    .navegacion__principal:hover{    cursor: pointer;
        color: #000000;
        transition: font-family .3s;
    }


.footer1{ /**footer de la pagina**/
background-color:rgba(0,0,0,.5); 
color:white;
text-align: center;
font-family: 'Courier New', Courier, monospace;
font-size: 2rem;
padding: 2rem;
position: relative;
align-items: center;
}
.formulario{/**formulario para opciones**/
text-align: center;
border: #E18A03;
margin: 3rem;
top: 3rem;
background-color: #ff2825;
grid: 2rem;
grid-template-columns: (2 / 1fr);
}
.tabla{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 1 / 3;
    gap: 2rem;
}
.contacto{/**formulario de contacto**/
    background-color: rgb(18, 96, 214);
    padding: 2rem;
   text-align: center;
    top: 50%;
    left: 50%;
    width: 300px;
  
 
}
.contactotext{ /**estilo de h1 en el formulario de contacto**/
    color: aliceblue;
    font-size: .3rem;
    font-family:'Times New Roman', Times, serif;
}
.login-box {/**estilo del login**/
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 100%;
  transform: translate(-50%, -50%);
  padding: 7rem;
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 15px;
  color: white;
  }
  .box-us{
    padding: 10%;
    align-items: center;
  }

 .boton{/**estilo de boton de login**/
     background-color: #E18A03;
     border-radius: 30px;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     box-shadow: #000000;
 }
 .boton:hover{
    color: #000000;
    cursor: pointer;
    }

 .olv{
     text-decoration: none;
     color: white;
 }
 .docente{/**formulario de docentes**/
     background:#FFC300;
     text-align: center;
     margin: 5rem;
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     grid-column: 1 / 2;
     gap: 2rem;
     border-radius: 50px;
     padding: 2rem;
     top: 3rem;
 }
 .formulario{/*formulario de contacto*/
    background-color: var(--gris);
    width: max( 4rem, 94% ); /** Utilizar el valor más pequeño **/
    border-radius: 1rem;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 15px;
    flex-direction: column-reverse;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Verdana (sans-serif);
 }
 .leg{
     color: black;
 }
  .formulario1{ /*estilo de formulario tabla de horas*/
    background-color: var(--gris);
    width: min( 60rem, 100% ); /** Utilizar el valor más pequeño **/
    margin: 0 auto;
    padding: 1rem;
    border-radius: 1rem;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 15px;
    flex-direction: column-reverse;
    background-repeat: no-repeat;
    background-size: cover;

   }
   .conta{/**formulario de informacion de los dias y horas**/
    text-align: center;
    top: 20%;
    left: 20%;
    padding: 5px;
    margin: 30px;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 15px;
    flex-direction: column-reverse;
}
.redonda {
    width:200px;
    height:200px;
    border-radius:150px;
}
.redonda:hover {
  filter: grayscale(20%);
}
.logo{
    left: auto;
}
.descripcion{
align-content: center;
}

/**Contenido para la informacion**/

  /**informacion**/
  @import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

*{
  box-sizing: border-box;
}


.cards {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
   
}

.card--1 .card__img, .card--1 .card__img--hover {
    background-image: url('logo.ico');
}

.card--2 .card__img, .card--2 .card__img--hover {
    background-image: url('opti.jpg');
}
.card--3 .card__img, .card--3 .card__img--hover {
  background-image: url('optmizar.jpeg');
}
.card--4 .card__img, .card--4 .card__img--hover {
  background-image: url('portada.jpg');
}
.card__like {
    width: 18px;
}

.card__clock {
    width: 15px;
  vertical-align: middle;
    fill: #AD7D52;
}
.card__time {
    font-size: 12px;
    color: #AD7D52;
    vertical-align: middle;
    margin-left: 5px;
}

.card__clock-info {
    float: right;
}

.card__img {
  visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 235px;
  border-top-left-radius: 12px;
border-top-right-radius: 12px;
  
}

.card__info-hover {
    position: absolute;
    padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
}

.card__img--hover {
  transition: 0.2s all ease-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
  position: absolute;
    height: 235px;
  border-top-left-radius: 12px;
border-top-right-radius: 12px;
top: 0;
  
}
.card {
  margin-right: 25px;
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #fff;
    width: 33.3%;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
}
.card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
    transform: scale(1.10, 1.10);
}

.card__info {
z-index: 2;
  background-color: #fff;
  border-bottom-left-radius: 12px;
border-bottom-right-radius: 12px;
   padding: 16px 24px 24px 24px;
}

.card__category {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
  color: #868686;
}

.card__title {
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: 'Roboto Slab', serif;
}

.card__by {
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.card__author {
    font-weight: 600;
    text-decoration: none;
    color: #AD7D52;
}

.card:hover .card__img--hover {
    height: 100%;
    opacity: 0.3;
}

.card:hover .card__info {
    background-color: transparent;
    position: relative;
}

.card:hover .card__info-hover {
    opacity: 1;
}
